@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// $background: #D8BFD8;
// $skills-background: #a68fa7;

$background: #0027cb;
$skills-background: #917eff;
$white-font: #ffffff;

html {
  background-color: $background;
}

.App {
  text-align: center;
}

.Links {
  list-style: none;
}

.Name {
  font-family: 'Lato', sans-serif;
}

.Home {
  color: $white-font;
}

.icon {
  height: auto;
  width: 100px;
  margin: 10px;
  justify-self: center;
  align-self: center;
}

.icon:hover {
  transform: scale(1.3);
}

.skills-container {
  background-color: $skills-background;
}

.Skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 500px;
}

.certificate {
  height: auto;
  width: 60%;
}

.course-bullets {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

