@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  background-color: thistle;
}

.App {
  text-align: center;
}

.Links {
  list-style: none;
}

.Name {
  font-family: 'Lato', sans-serif;
}

.icon {
  height: auto;
  width: 100px;
  margin: 10px;
  justify-self: center;
  align-self: center;
}

.Skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 500px;
}